<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - MAV-STU Project</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Hello, was expecting you :)</h1>

        <p>Got questions, suggestions, or feedback? <br>
            Or maybe you just want to help us by uploading a file?</p>

        <div class="contact-info">
            <h3>Reach out via Email:</h3>
            <p><a href="mailto:petermoses862@gmail.com"><u>Gmail</u></a> ||
            <a href="mailto:pxm4277@mavs.uta.edu"><u>UTA email</u></a></p>
        </div>
        
        <div class="contact-form">
            <h>Or fill out the quick forms below for something direct:</h><br>
            <a href="https://forms.office.com/r/avEryfhdLq" class="button" id="contactFormLink" target="_blank"><u>Ask/Suggest</u></a> ||
            <a href="https://forms.gle/E4Z1BNyo4cuhdfcE8" class="button" id="contactFormLink" target="_blank"><u>File Upload</u></a>

            <p> <strong>NOTE: you need a google sign in to fill out the File Upload form.<br>
                        Email me if you can't do so and we will work something out!</strong></p>
        </div>

        <div id="message"></div>

        <p><a href="../index.html" class="button">Back to Home</a><br>
        <a href="course-catalog.html" class="button">Check out Catalog</a></p>
    </div>
</body>
</html>